/*svg {
  display: none;
}*/

#warpSky > svg, #lastSky > svg {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9;
}

line {
  stroke-width: 1;
  stroke: white;
  fill: white;
}

circle {
  fill: white;
}

line {
  stroke-width: 2;
  stroke-dasharray: 700;
  animation: none;
  animation: '';
}

.normal line {
  stroke-dashoffset: 700;
  animation: warp 1s 1;
}

.warp line {
  stroke-dashoffset: 0;
  animation: warp-reverse 1s 1;
}

.warp-fade circle {
  fill: transparent;
}

.warp-fade line {
  stroke-dashoffset: 700;
  animation: warp-fade 2s 1;
}

@keyframes warp {
  0% {
    stroke: transparent;
    stroke-dashoffset: 0;
  }
  50% {
    stroke: white;
  }
  100% {
    stroke-dashoffset: 700;
  }
}

@keyframes warp-reverse {
  0% {
    stroke-dashoffset: 700;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes warp-fade {
  0% {
    stroke-dashoffset: 0;
  }
  60% {
    stroke: white;
  }
  100% {
    stroke-dashoffset: 700;
    stroke: transparent;
    fill: transparent;
  }
}
