.nextPlanet {
  min-height: 40px;
  max-height: 60px;
  min-width: 140px;
  max-width: 160px;
  width: 33%;
  height: 33%;
  display: block;
  margin: auto;

  background-color: blue;
}

.nextPlanet.--disabled {
  background-color: red;
}
